site_name: CarFlow
site_description: Documentação técnica do projeto CarFlow
site_url: https://tifany-devil.github.io/CarFlow/

repo_url: https://github.com/Tifany-Devil/CarFlow
repo_name: Tifany-Devil/CarFlow

theme:
  name: material
  language: pt
  favicon: assets/favicon.png   # (vamos criar depois; pode deixar e ignorar por enquanto se não existir)
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.follow
    - content.code.copy
    - search.suggest
    - search.highlight
  palette:
  - scheme: slate
    primary: deep purple
    accent: purple
    toggle:
      icon: material/weather-night
      name: Modo escuro
  - scheme: default
    primary: deep purple
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Modo claro
  font:
    text: Inter
    code: JetBrains Mono

plugins:
  - search
  - glightbox

markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html

  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - stylesheets/extra.css

nav:
  - Início: index.md
  - Visão Geral:
      - Escopo (IN/OUT): 01-visao-geral/escopo.md
  - Requisitos: 02-requisitos/index.md
  - Processos (BPMN): 03-processos-bpmn/index.md
  - Modelagem de Dados: 04-modelagem-dados/index.md
  - Arquitetura (C4): 05-arquitetura/index.md
  - Technical Design: 06-technical-design/index.md
  - Qualidade: 07-qualidade/index.md
  - ADRs: 08-adr/index.md

